{
  //"ConnectionStrings:DefaultConnection": "dbConnectionString",
  //"APPLICATIONINSIGHTS_CONNECTION_STRING": "app-insights-connection-string",
  //"StorageDetails:ImagesSASToken": "storage-sas-token",
  //"AzureAppConfigConnection": "app-config-connection-string",
  "Application:Environment": "develop"
}