{
  "ConnectionStrings:AzureAppConfigConnection": "your your app-config-connection-string",
  "APPLICATIONINSIGHTS_CONNECTION_STRING": "your app-insights-connection-string",
  "StorageDetails:ImagesSASToken": "your storage-sas-token"
}